<div class="container">
  <div class="row">
    <h2>Detalles de {{corrector?.nombre + " " + corrector?.apellido}}</h2>
  </div>

  <div class="row">
    <label class="col-md-3" for="nombre" id="nombre">Nombre:</label>
    <span class="col-md-9 offset-2 offset-md-0">{{corrector?.nombre}}</span>
  </div>
  <div class="row">
    <label class="col-md-3" for="correoElectronico" id="correoElectronico">Correo Electronico:</label>
    <span class="col-md-9 offset-2 offset-md-0">{{corrector?.correoElectronico}}</span>
  </div>
  <div class="row">
    <label class="col-md-3" for="telefono">Telefono:</label>
    <span class="col-md-9 offset-2 offset-md-0">{{corrector?.telefono}}</span>
  </div>
  <div class="row">
    <label class="col-md-3" for="matExamenesCorregibles">Max Examenes Corregibiles:</label>
    <span class="col-md-9 offset-2 offset-md-0">{{corrector?.maxExamCorregir}}</span>
  </div>
  <div class="row">
    <label class="col-md-3" for="identificadorUsuario">Identificador Usuario:</label>
    <span class="col-md-9 offset-2 offset-md-0">{{corrector?.identificadorUsuario}}</span>
  </div>
  <div class="row">
    <label class="col-md-3" for="nombreMateria" id="nombreMateria">Nombre Materia:</label>
    <span class="col-md-9 offset-2 offset-md-0">{{corrector?.materia?.nombre}}</span>
  </div>
  <div class="row">
    <label class="col-md-3" for="anio" id="anio">Anio:</label>
    <span class="col-md-9 offset-2 offset-md-0">{{corrector?.materia?.anio}}</span>
  </div>
  <div class="row">
    <label class="col-md-3" for="idConvocatoria" id="idConvocatoria">ID Convocatoria:</label>
    <span class="col-md-9 offset-2 offset-md-0">{{corrector?.materia?.idConvocatoria}}</span>
  </div>


  <div class="row">
    <button class="col-auto btn btn-outline-primary" (click)="eliminarCorrector()">Eliminar <i
        class="bi bi-trash-fill"></i></button>
    <div class="col-1"></div>
    <button class="col-auto btn btn-outline-primary" (click)="editarCorrector()">Editar <i
        class="bi bi-pencil-fill"></i></button>
  </div>

</div>