<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Lista de correctores</h1>
      <div class="list-group">
        <button *ngFor="let corrector of correctores"
          class="list-group-item list-group-item-action"
          (click)="elegirCorrector(corrector)"
          [class.active]="corrector === correctorElegido">{{corrector.nombre}}</button>
      </div>
      <br>
      <button type="button" class="btn btn-outline-primary bi bi-plus-lg" (click)="aniadirContacto()"></button>
    </div>
    <div class="col-md-6" *ngIf="correctorElegido">
      <app-detalle-contacto [contacto]="correctorElegido"
        (contactoEditado)="correctorEditado($event)"
        (contactoEliminado)="eliminarCorrector($event)"
        ></app-detalle-contacto>
    </div>
  </div>
</div>


