<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} corrector</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">
      <label for="nombre">Id:</label>
      <input class="form-control" id="id" [(ngModel)]="corrector.id" placeholder="0">
      <label for="nombre">Nombre:</label>
      <input class="form-control" id="nombre" [(ngModel)]="corrector.nombre" placeholder="nombre">
      <label for="apellidos">Apellidos:</label>
      <input class="form-control" id="apellidos" [(ngModel)]="corrector.apellidos" placeholder="apellidos">
      <label for="email">E-mail:</label>
      <input class="form-control" id="correoElectronico" [(ngModel)]="corrector.correoElectronico" placeholder="fulanito@mengano.com">
      <label for="telefono">Apellidos:</label>
      <input class="form-control" id="telefono" [(ngModel)]="corrector.telefono" placeholder="(34) 123456789">
      <label for="nombre">ExamenesACorregir:</label>
      <input class="form-control" id="maxExamCorregir" [(ngModel)]="corrector.maxExamCorregir" placeholder="1">
      <label for="nombre">IdentificadorUsuario:</label>
      <input class="form-control" id="identificadorUsuario" [(ngModel)]="corrector.identificadorUsuario" placeholder="0">
      
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarCorrector()">Guardar</button>
</div>
